{% extends 'base.html.twig' %}

{% block title %}Kafi RP Başvuru{% endblock %}

{% block body %}
    {% if success is defined and success %}
        <div class="form-content form-sm flex-fill d-flex align-items-center">
            <div class="form-items">
                <h3 class="form-title">Başvuru Formu</h3>
                <p>Başvurunuz başarıyla alınmıştır. En kısa sürede sizlere bilgi verilecektir.</p>
            </div>
        </div>
    {% endif %}
    {% if success is defined and success == false %}
        <div class="form-content form-sm flex-fill d-flex align-items-center">
            <div class="form-items">
                <h3 class="form-title">Başvuru Formu</h3>
                <p>{{ errorMessage }}</p>
                {% if app.user.inWhitelist == true %}
                    <div class="form-button">
                        <a href="{{ path('ticket_list') }}" class="ibtn">Destek Talebi Sayfasına Git</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if form is defined %}
        <div class="form-content form-sm flex-fill">
            {% if app.user.inWhitelist == true %}
            <div class="form-items w-100" style="max-width: none">
                <div class="page-links d-flex justify-content-end">
                    <a href="{{ path('ticket_list') }}">Destek Sayfasına Git</a>
                </div>
            </div>
            {% endif %}
            <div class="form-items">
                <h3 class="form-title">Başvuru Formu</h3>
                {{ form_start(form) }}
                {% for key, formItem in form.children %}
                    {% if 'c_' in key %}
                        <div class="form-group">
                            {{ form_label(formItem) }}
                            <div class="custom-options mb-2">
                                {{ form_widget(formItem) }}
                            </div>
                            {{ form_help(formItem) }}
                        </div>
                    {% elseif 't_' in key %}
                        <div class="form-group">
                            {{ form_label(formItem) }}
                            {{ form_widget(formItem) }}
                            {{ form_help(formItem) }}
                        </div>
                    {% elseif '_token' == key %}
                        {{ form_widget(formItem) }}
                    {% else %}
                        <div class="form-button text-right">
                            {{ form_widget(formItem) }}
                        </div>
                    {% endif %}
                {% endfor %}
                {{ form_end(form) }}

            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        let textType = parseInt({{ answerTypes.text }});
        let choiceType = parseInt({{ answerTypes.choice }});

        $(document).ready(function() {
            $('form[name="form"] input').each(function() {
                if (parseInt($(this).data('question-type-id')) === textType) {
                    let inputName = 'form[textQuestion][' + $(this).data('question-id') + ']';
                    $(this).attr('name', inputName);
                    $(this).removeAttr('data-question-id');
                }
                if (parseInt($(this).data('question-type-id')) === choiceType) {
                    let inputName = 'form[choiceQuestion][' + $(this).data('question-id') + ']';
                    $(this).attr('name', inputName);
                    $(this).removeAttr('data-question-id');
                }
            });
        });

    </script>
{% endblock %}